<footer class="footer">
  <div class="container">
    <p class="footer-text">
      &copy; 2026 | All Rights Reserved | Developed with
      <span class="footer-heart footer-heart-animation">❤</span> by
      <button type="button" class="footer-team-button" id="open-team-modal">
        GoIT Students
      </button>
    </p>
  </div>
</footer>

<div class="team-backdrop is-hidden" id="team-modal">
  <div class="team-modal-content">
    <button type="button" class="modal-close-btn" id="close-team-modal">
      &times;
    </button>
    <h2 class="team-title">Our Team</h2>
    <ul class="team-list" id="team-list">
      <li class="team-item">
        <img
          src="./img/Our_Team/Abdullah_Burak_Ozaslan.jpg"
          alt="Abdullah Burak Özaslan"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">
            Abdullah <br />
            Burak Özaslan
          </h3>
          <a
            href="https://github.com/aburakozaslan-cloud"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Team Leader</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Sevcan_Özdemir.jpg"
          alt="Sevcan Özdemir"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">Sevcan Özdemir</h3>
          <a
            href="https://github.com/altay3535"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Scrum Master & Presentation</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Doga_Ceren_Erkek.jpg"
          alt="Doga Ceren Erkek"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">Doga Ceren Erkek</h3>
          <a
            href="https://github.com/dogacerenerkek"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Header Structure & Layout</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Gülistan_Uzun.jpg"
          alt="Gülistan Uzun"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">Gülistan Uzun</h3>
          <a
            href="https://github.com/gulistanuzun"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Hero Section & Order Now</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Mert_KÖROĞLU.jpg"
          alt="Mert Köroğlu"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">Mert Köroğlu</h3>
          <a
            href="https://github.com/mertkrglu"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Main Recipe Block</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Ibrahim_ATEŞ.jpg"
          alt="İbrahim Ateş"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">İbrahim Ateş</h3>
          <a
            href="https://github.com/1ates"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Scrum & Recipe List Section</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Elif_Pelda_Beger.jpg"
          alt="Pelda Beger"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">Pelda Beger</h3>
          <a
            href="https://github.com/pelda1990-brkn"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Favorites Section</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Ozan_Erenay_Sener.jpg"
          alt="Özan Erenay Şener"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">Özan Erenay Şener</h3>
          <a
            href="https://github.com/ErenaySener"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Search Section</p>
      </li>

      <li class="team-item">
        <img
          src="./img/Our_Team/Meryem_Özkan.jpg"
          alt="Meryem Özkan"
          class="team-img"
        />
        <div class="member-info-wrapper">
          <h3 class="member-name">Meryem Özkan</h3>
          <a
            href="https://github.com/meryemozkan1"
            target="_blank"
            rel="noopener noreferrer"
            class="team-github-link"
          >
            <img
              src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg"
              width="20"
              height="20"
              alt="github"
            />
          </a>
        </div>
        <p class="member-role">Footer & Presentation</p>
      </li>
    </ul>
  </div>
</div>
