  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Learn to Cook <em class="hero-accent">Tasty Treats'</em> Customizable Masterclass</h1>
      <p class="hero-desc">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="hero-btn" type="button" data-modal-open="order-now">
        Order now
      </button>
    </div>

    <div class="swiper hero-swiper">
        <ul class="swiper-wrapper">

        </ul>
        <div class="swiper-pagination hero-pagination"></div>
      </div>

  </div>
