<section class="section-recipe">
  <div class="container-recipe">
    <div class="container-for-loader">
      <span class="loader-txt visually-hidden">Loading...</span>
      <span class="loader visually-hidden"></span>
    </div>
    <div>
      <ul class="list-recipes"></ul>
    </div>

    <div class="recipes-pagination">
      <div class="nav-btn">
        <button class="first-page" type="button">
          <svg class="pagination-icon first-arrow">
            <use href="./img/favicon.svg#icon-left"></use>
          </svg>
          <svg class="pagination-icon second-arrow">
            <use href="./img/favicon.svg#icon-left"></use>
          </svg>
          <svg class="pagination-icon second-arrow">
            <use href="./img/favicon.svg#icon-left"></use>
          </svg>
          <svg class="pagination-icon second-arrow">
            <use href="./img/favicon.svg#icon-left"></use>
          </svg>
          <svg class="pagination-icon second-arrow">
            <use href="./img/favicon.svg#icon-left"></use>
          </svg>
        </button>
        <button class="previous-page" type="button">
          <svg class="pagination-icon">
            <use href="./img/favicon.svg#icon-left"></use>
          </svg>
        </button>
      </div>

      <div class="page-numbers"></div>

      <div class="nav-btn">
        <button class="next-page" type="button">
          <svg class="pagination-icon">
            <use href="./img/favicon.svg#icon-right"></use>
          </svg>
        </button>
        <button class="last-page" type="button">
          <svg class="pagination-icon first-arrow">
            <use href="./img/favicon.svg#icon-right"></use>
          </svg>
          <svg class="pagination-icon second-arrow">
            <use href="./img/favicon.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
