<section class="filters-section">
  <div class="filters-container">
    <form class="filters-form">
      <label class="filter-label search-field">
        Search
        <span class="search-wrapper">
          <svg class="search-icon" width="18" height="18">
            <use href="./img/favicon.svg#icon-search"></use>
          </svg>

          <input
            class="filter-input search-input"
            type="text"
            name="search"
            placeholder="Enter Text"
            autocomplete="off"
          />
        </span>
      </label>

      <label class="filter-label time-field">
        Time
        <div class="custom-select" data-filter="time">
          <button class="custom-select-trigger" type="button">
            Any time
            <span class="select-chevron"></span>
          </button>

          <ul class="custom-dropdown time-dropdown"></ul>
        </div>
      </label>

      <label class="filter-label area-field">
        Area
        <div class="custom-select" data-filter="area">
          <button class="custom-select-trigger" type="button">
            Any area
            <span class="select-chevron"></span>
          </button>

          <ul class="custom-dropdown area-dropdown"></ul>
        </div>
      </label>

      <label class="filter-label ingredients-field">
        Ingredients
        <div class="custom-select" data-filter="ingredient">
          <button class="custom-select-trigger" type="button">
            Any ingredient
            <span class="select-chevron"></span>
          </button>

          <ul class="custom-dropdown ingredients-dropdown"></ul>
        </div>
      </label>
    </form>

    <button class="reset-btn" type="button">
      <svg class="reset-icon" width="16" height="16">
        <use href="./img/favicon.svg#icon-close"></use>
      </svg>
      Reset the filter
    </button>
  </div>
</section>
