:root {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  --black: #050505;
  --color-primary: #9bb537;
  --description-color: rgba(5, 5, 5, 0.8);
  --star-icon-color: #f2c94c;
  --heart-icon-color: #eb5757;
  --bg-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.dark-theme {
  --description-color: rgba(255, 255, 255, 0.8);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

.desk-logo {
  display: none;
}
